name: CI
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - uses: actions/setup-python@v4
      with:
        python-version: '3.9'
    
    - run: pip install buildozer cython==0.29.33
    
    - name: Install Android Build Tools
      run: |
        # Устанавливаем необходимые версии Build Tools
        $ANDROID_SDK_ROOT/cmdline-tools/latest/bin/sdkmanager --sdk_root=$ANDROID_SDK_ROOT \
          "platform-tools" \
          "build-tools;34.0.0" \
          "platforms;android-34"
    
    - name: Initialize Buildozer
      run: |
        if [ ! -f "buildozer.spec" ]; then
          buildozer init
        fi
    
    - name: Configure Buildozer
      run: |
        # Очищаем дубликаты секций
        awk '/^\[/ { if (seen[$0]++) next } 1' buildozer.spec > temp.spec && mv temp.spec buildozer.spec
        
        # Добавляем настройки
        echo -e "\n[android]\nandroid.sdk = 34\nandroid.ndk = 27.3.13750724" >> buildozer.spec
        echo -e "\n[buildozer]\nandroid.accept_sdk_license = True" >> buildozer.spec
    
    - name: Build APK
      run: |
        buildozer -v android debug
    
    - uses: actions/upload-artifact@v4
      with:
        name: apk
        path: bin/*.apk
