name: Build
on: [push, pull_request]

jobs:
  build-android:
    name: Build for Android
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create 'user' for buildozer-action
        run: |
          # Создаем группу и пользователя с UID 1000 (стандартный для контейнеров)
          sudo groupadd -g 1000 user 2>/dev/null || echo "Group exists"
          sudo useradd -u 1000 -g 1000 -m -s /bin/bash user 2>/dev/null || echo "User exists"
          
          # Проверяем
          id user || echo "User not created"

      - name: Build with Buildozer
        uses: ArtemSBulgakov/buildozer-action@v1
        id: buildozer
        with:
          buildozer_version: stable

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: ${{ steps.buildozer.outputs.filename }}
