name: Build
on: [push, pull_request]

jobs:
  build-android:
    name: Build for Android
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # УБЕРИ workdir или поставь точку (текущая директория)
      - name: Build with Buildozer
        uses: ArtemSBulgakov/buildozer-action@v1  # Этот action все равно сломается!
        id: buildozer
        with:
          # workdir: .  # Можно указать явно текущую директорию
          # ИЛИ просто удалить строку workdir полностью
          buildozer_version: stable

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: ${{ steps.buildozer.outputs.filename }}
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: ${{ steps.buildozer.outputs.filename }}
